<mat-card class="card">
  <div class="content-wrapper">
    <div *ngIf="weatherData">
      <div class="grid-temp">
        <div class="bgclr" id="name-time">
          <h1 id="country-name">{{ weatherData.locations[cityName].name }}</h1>
          <h3>
            {{
              weatherData.locations[cityName].currentConditions.datetime.slice(
                11,
                19
              )
            }}
          </h3>
        </div>

        <div class="bgclr" id="weather-img">
          <img
            class="weather-icon"
            src="assets/images/partly-cloudy-night.png"
            alt=""
            *ngIf="
              weatherData.locations[cityName].currentConditions.icon ==
              'partly-cloudy-night'
            "
          />
          <img
            class="weather-icon"
            src="assets/images/partly-cloudy-day.png"
            alt=""
            *ngIf="
              weatherData.locations[cityName].currentConditions.icon ==
              'partly-cloudy-day'
            "
          />
          <img
            class="weather-icon"
            src="assets/images/cloudy.png"
            alt=""
            *ngIf="
              weatherData.locations[cityName].currentConditions.icon == 'cloudy'
            "
          />
          <img
            class="weather-icon"
            src="assets/images/clear-night.png"
            alt=""
            *ngIf="
              weatherData.locations[cityName].currentConditions.icon ==
              'clear-night'
            "
          />
          <img
            class="weather-icon"
            src="assets/images/clear-day.png"
            alt=""
            *ngIf="
              weatherData.locations[cityName].currentConditions.icon ==
              'clear-day'
            "
          />
        </div>

        <div class="bgclr" id="temperature">
          {{ weatherData.locations[cityName].currentConditions.temp }}
          &deg; C
        </div>

        <div class="bgclr" id="humidity">
          Humidity:
          {{ weatherData.locations[cityName].currentConditions.humidity }}
          &percnt;
        </div>

        <div class="bgclr" id="dew-point">
          Dew point:
          {{ weatherData.locations[cityName].currentConditions.dew }} &deg;C
        </div>

        <div class="bgclr" id="preassure">
          Pressure:
          {{
            weatherData.locations[cityName].currentConditions.sealevelpressure
          }}
          mb
        </div>

        <div class="bgclr" id="wdir">
          Wind:
          {{ weatherData.locations[cityName].currentConditions.wspd }} km/h
        </div>
      </div>
      <div class="next-five">
        <div class="first up-grid-temp">
          <div class="up-date">
            {{
              weatherData.locations[cityName].values[1].datetimeStr.slice(0, 10)
            }}
          </div>

          <div class="up-temperature">
            {{ weatherData.locations[cityName].values[1].temp }} <br />
            &deg; C
          </div>

          <div class="up-humidity">
            Humidity:
            {{ weatherData.locations[cityName].values[1].humidity }}
            &percnt;
          </div>

          <div class="up-dew-point">
            Dew point:
            {{ weatherData.locations[cityName].values[1].dew }} &deg;C
          </div>

          <div class="up-preassure">
            Pressure:
            {{ weatherData.locations[cityName].values[1].sealevelpressure }}
            mb
          </div>

          <div class="up-wdir">
            Wind:
            {{ weatherData.locations[cityName].values[1].wspd }} km/h
          </div>
        </div>
        <div class="second up-grid-temp">
          <div class="up-date">
            {{
              weatherData.locations[cityName].values[2].datetimeStr.slice(0, 10)
            }}
          </div>

          <div class="up-temperature">
            {{ weatherData.locations[cityName].values[2].temp }} <br />
            &deg; C
          </div>

          <div class="up-humidity">
            Humidity:
            {{ weatherData.locations[cityName].values[2].humidity }}
            &percnt;
          </div>

          <div class="up-dew-point">
            Dew point:
            {{ weatherData.locations[cityName].values[2].dew }} &deg;C
          </div>

          <div class="up-preassure">
            Pressure:
            {{ weatherData.locations[cityName].values[2].sealevelpressure }}
            mb
          </div>

          <div class="up-wdir">
            Wind:
            {{ weatherData.locations[cityName].values[2].wspd }} km/h
          </div>
        </div>
        <div class="third up-grid-temp">
          <div class="up-date">
            {{
              weatherData.locations[cityName].values[3].datetimeStr.slice(0, 10)
            }}
          </div>

          <div class="up-temperature">
            {{ weatherData.locations[cityName].values[3].temp }}
            <br />&deg; C
          </div>

          <div class="up-humidity">
            Humidity:
            {{ weatherData.locations[cityName].values[3].humidity }}
            &percnt;
          </div>

          <div class="up-dew-point">
            Dew point:
            {{ weatherData.locations[cityName].values[3].dew }} &deg;C
          </div>

          <div class="up-preassure">
            Pressure:
            {{ weatherData.locations[cityName].values[3].sealevelpressure }}
            mb
          </div>

          <div class="up-wdir">
            Wind:
            {{ weatherData.locations[cityName].values[3].wspd }} km/h
          </div>
        </div>
        <div class="fourth up-grid-temp">
          <div class="up-date">
            {{
              weatherData.locations[cityName].values[4].datetimeStr.slice(0, 10)
            }}
          </div>

          <div class="up-temperature">
            {{ weatherData.locations[cityName].values[4].temp }}
            <br />&deg; C
          </div>

          <div class="up-humidity">
            Humidity:
            {{ weatherData.locations[cityName].values[4].humidity }}
            &percnt;
          </div>

          <div class="up-dew-point">
            Dew point:
            {{ weatherData.locations[cityName].values[4].dew }} &deg;C
          </div>

          <div class="up-preassure">
            Pressure:
            {{ weatherData.locations[cityName].values[4].sealevelpressure }}
            mb
          </div>

          <div class="up-wdir">
            Wind:
            {{ weatherData.locations[cityName].values[4].wspd }} km/h
          </div>
        </div>
        <div class="fifth up-grid-temp">
          <div class="up-date">
            {{
              weatherData.locations[cityName].values[5].datetimeStr.slice(0, 10)
            }}
          </div>

          <div class="up-temperature">
            {{ weatherData.locations[cityName].values[5].temp }}
            <br />&deg; C
          </div>

          <div class="up-humidity">
            Humidity:
            {{ weatherData.locations[cityName].values[5].humidity }}
            &percnt;
          </div>

          <div class="up-dew-point">
            Dew point:
            {{ weatherData.locations[cityName].values[5].dew }} &deg;C
          </div>

          <div class="up-preassure">
            Pressure:
            {{ weatherData.locations[cityName].values[5].sealevelpressure }}
            mb
          </div>

          <div class="up-wdir">
            Wind:
            {{ weatherData.locations[cityName].values[5].wspd }} km/h
          </div>
        </div>
      </div>
    </div>
    <!-- <button (click)="onClick()">Click</button> -->
  </div>
</mat-card>
