<p>
  <mat-toolbar>
    <span>Weather App</span>
    <img class="location-icon" src="assets/images/location.svg" alt="" />

    <span id="current-country">{{ currentCountry }}</span>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Search Country Name</mat-label>
        <input
          type="text"
          matInput
          [formControl]="myControl"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option
            *ngFor="let option of filteredOptions | async"
            [value]="option"
          >
            {{ option.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <button
        routerLink="home"
        mat-raised-button
        (click)="getName(); clickMe()"
      >
        Search
      </button>
    </form>
  </mat-toolbar>
</p>
